.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}
.filters button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #1D6154;
  padding: 9px 20px;
  background: none;
  border-radius: 50px;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
.filters button.active {
  background: #1D6154;
  color: #fff;
}

.modal {
  inset: 0;
  position: fixed;
  z-index: 2;
  display: none;
  place-items: center;
}
.modal.active {
  display: grid;
}
.modal h3 {
  color: #000;
  text-align: center;
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 40px;
}
.modal .modal-content {
  border-radius: 16px;
  padding: 15px;
  background: #fff;
  width: 420px;
  padding: 105px;
  padding-bottom: 45px;
  padding-top: 60px;
  position: relative;
}
.modal .modal-content [data-close] {
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}
.modal .modal-content [data-return] {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 18px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}
.modal hr {
  margin-top: 60px;
  margin-bottom: 40px;
}
.modal button[data-modal] {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0 auto;
  display: flex;
  appearance: none;
  background: #1D6154;
  color: #FFF;
  text-align: center;
  font-family: Syne;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 50px;
}
.modal input[type=submit] {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border: none;
  padding-bottom: 10px;
}
.modal input[type=submit]:disabled {
  background: #A7A7A7;
  cursor: not-allowed;
}

.backdrop {
  position: fixed;
  z-index: -1;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.projectsToRemove {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px 6px;
}
.projectsToRemove img {
  width: 100%;
  height: 105px;
  -o-object-fit: cover;
     object-fit: cover;
}
.projectsToRemove figure {
  position: relative;
}
.projectsToRemove figure button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 17px;
  height: 17px;
  border-radius: 2px;
  display: grid;
  place-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #000;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 10px;
}

#portfolio h2 {
  margin-bottom: 0;
}
#portfolio .titre {
  height: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#portfolio .titre button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
}

nav a {
  color: inherit;
  text-decoration: none;
}

.upload-field {
  border-radius: 3px;
  background: #E8F1F6;
  padding: 20px;
  display: grid;
  gap: 30px;
  place-items: center;
  position: relative;
}
.upload-field img {
  margin-top: -20px;
  margin-bottom: -20px;
  max-height: 170px;
}
.upload-field label {
  cursor: pointer;
  display: grid;
  place-items: center;
  gap: 7px;
  text-align: center;
}
.upload-field input {
  position: absolute;
  z-index: -1;
}
.upload-field span {
  color: #306685;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 33px;
  border-radius: 50px;
  background: #CBD6DC;
}
.upload-field small {
  color: #444;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

#title, #category {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1.2em;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#category {
  background: white url(../assets/icons/chevron.svg) no-repeat right 15px center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-group {
  margin-top: 30px;
}
.form-group label {
  display: block;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */